<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" />

    <style>
      .form-floating-label {
        opacity: 65%;
      }
      .page-header-sticky {
        position: -webkit-sticky;
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 1000;
      }
      .bi-plus::before {
        font-weight: bold !important;
      }
      .table-dark {
        --bs-table-bg: #5a5a5a;
      }
    </style>

    <title>Apertis Snapshots Configuration Manager</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <main role="main" class="page-header page-header-sticky">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="{{ url_for('index') }}" class="navbar-brand">
            <i class="bi bi-house-door-fill"></i>
          </a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                   Apertis Snapshots Configuration Manager
                </a>
              </li>
            </ul>

            <div class="d-flex">
              {% if user_info %}
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ user_info.name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li>
                        <a class="dropdown-item" href="{{ user_info.profile }}" target="_blank">
                          <strong>{{ user_info.name }}</strong>
                          <br>
                          <small>@{{ user_info.nickname }}</small>
                        </a>
                      </li>
                      {% if not user_info.local %}
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                      {% endif %}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% else %}
          <a href="/login" role="button" class="btn btn-primary">Login</a>
          {% endif %}
        </div>

        </div>
      </nav>
    </main>
    <div class="content pt-4 pb-4">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
