{% extends "base.html" %}

{% block content %}

{% macro validate_field(form, field) %}
<script>
  field_id = "#{{ field.id }}"
  {% if field.id.removeprefix(form.id ~ "-") in form.errors %}
  $(field_id + "-invalid-feedback").html("{{ form.errors[field.id.removeprefix(form.id ~ "-")][0] }}")
  $(field_id).addClass("is-invalid")
  {% endif %}
</script>
{% endmacro %}

{% macro validate_form(form) %}
  {% for field in form %}
    {% if field.type == 'FormField' %}
      {% if field.errors %}
        {{ validate_form(field) or "" }}
      {% endif %}
    {% else %}
      {{ validate_field(form, field) or "" }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% if user_info %}
<fieldset>
  <legend class="col-form-label text-muted">Snapshot configuration</legend>
  <form class="bg-light" id="configure_form" method="POST" action="/configure">
    <div class="form-group col p-3 border rounded">
    <div class="form-group col">
    <div class="form-group row pb-2">
    </div>
    <div class="form-group row pb-2">
      <div class="col-auto"><b>Repository information</b></div>
    </div>

    <div class="form-group col pb-3">
      <div class="form-group col gx-2">
        <div class="form-floating col">
          {{ form.prefix(class_="form-control", title="Prefix must not contain spaces", placeholder=form.prefix.description) }}
          <label class="form-floating-label" for="prefix" id="prefix-invalid-feedback">{{ form.prefix.description }}</label>
        </div>
      </div>
    </div>

    <div class="form-group col">
      <div class="form-group col gx-2">
        <div class="form-floating col">
          {{ form.distribution(class_="form-control", title="Distribution must not contain spaces", placeholder=form.distribution.description) }}
          <label class="form-floating-label" for="distribution" id="distribution-invalid-feedback">{{ form.distribution.description }}</label>
        </div>
        <small id="distribution-help" class="form-text">
          <i>&nbsp;* Wildcards allowed</i>
        </small>
      </div>
    </div>
    </div>

    <div class="row pb-2 pt-3">
      <div class="col-auto"><b>Retention details</b></div>
    </div>

    <fieldset class="form-group col">
        <div class="form-group col">
          <div class="form-floating col gx-2 pb-3">
            {{ form.keep_type(class_="form-select") }}
            <label class="form-floating-label">Retention type<label>
          </div>

          <fieldset class="form-group col pb-3" id="keep_manual" disabled>

            <div class="form-group col">
              <div class="form-group col gx-2 pb-3">
                <div class="form-floating col">
                  {{ form.keep_manual.selected(class_="form-control", placeholder=form.keep_manual.selected.description) }}
                  <label class="form-floating-label" for="keep_manual-selected" id="keep_manual-selected-invalid-feedback">{{ form.keep_manual.selected.description }}</label>
                </div>
                <small id="keep_manual-selected-help" class="form-text">
                  <i>&nbsp;* Wildcards allowed, use comma as separator (leave empty to not keep any specific snapshot)</i>
                </small>
              </div>
            </div>

            <fieldset class="form-group col" id="keep_range">
              {% for keep_range_field in form.keep_manual.ranges %}
              <div class="form-group col gx-2 {{ "pb-3" if not loop.last else "" }} ">
                <div class="form-floating col">
                  {{ keep_range_field(class_="form-control") }}
                  <label class="form-floating-label" for="{{ keep_range_field.id }}">{{ keep_range_field.label }}</label>
                </div>
              </div>
              {% endfor %}
            </fieldset>

          </fieldset>
        </div>

    </fieldset>

    <div class="d-flex justify-content-end">
      <div class="list-row">
        <button type="submit" class="btn btn-primary"><strong>Submit</strong></button>
        <a href="{{ url_for('index') }}" role="button" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
    </div>

    {{ form.csrf_token }}

  </form>
</fieldset>

{% endif %}

<script>
$(document).ready(function() {
  $('input[type="number"]').each(function(index, input){
    $(input).on("input", () => {
      this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : 0
    })
  });

  // Remove is-invalid once user edits field
  $('input[type="text"').each(function(index, input){
    $(input).on("input", () => {
      $("#" + this.id + "-invalid-feedback").html($(this).attr("placeholder"))
      $(this).removeClass("is-invalid")
    })
  });

  $('#keep_type').change(() => {
    keep_type = $("#keep_type")
    if (keep_type.val() == "keep-all")
      $('#keep_manual').prop('disabled', true)
    else
      $('#keep_manual').prop('disabled', false)
  })

  $('#keep_type').trigger("change")
})

</script>

{% if form.errors %}
  {{ validate_form(form) or "" }}
{% endif %}

{% endblock %}
