{% extends "base.html" %}

{% block content %}

{% if user_info %}
<legend class="col-form-label text-muted">Available snapshots configuration</legend>
<div class="">
  <table class="table table-hover table-light">
  <thead class="table-dark">
  <tr>
    <th scope="col">Prefix</th>
    <th scope="col">Distribution</th>
    <th scope="col">Keep</th>
    <th scope="col">Days</th>
    <th scope="col">Weeklies</th>
    <th scope="col">Monthlies</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  {%- for snapshot in snapshots -%}
  <tr>
    <td class="align-middle"><small>{{ snapshot.prefix }}</small></td>
    <td class="align-middle"><small>{{ snapshot.distribution }}</small></td>
    <td class="align-middle"><small>{{ "-" if snapshot.retention.keep|length == 0 else snapshot.retention.keep|join(', ') if "*" not in snapshot.retention.keep else "All" }}</small></td>
    <td class="align-middle"><small>{{ snapshot.retention.days_range if snapshot.retention.days_range else "-" }}</small></td>
    <td class="align-middle"><small>{{ snapshot.retention.weeklies_range if snapshot.retention.weeklies_range else "-" }}</small></td>
    <td class="align-middle"><small>{{ snapshot.retention.monthlies_range if snapshot.retention.monthlies_range else "-" }}</small></td>
    <td class="align-middle">
        <a href="/configure/{{ snapshot.prefix }}/{{ snapshot.distribution }}" role="button" class="btn btn-success">
          <i class="bi bi-pencil"></i>
        </a>
        <a href="/delete/{{ snapshot.prefix }}/{{ snapshot.distribution }}" role="button" class="btn btn-danger">
          <i class="bi bi-trash"></i>
        </a>
    </td>
  </tr>
  {%- endfor -%}
  </tbody>
  </table>
</div>

<div class="d-flex justify-content-end pt-3">
  <a href="/configure" role="button" class="btn btn-primary">
    <i class="bi bi-plus"></i>
    <strong>Add new configuration</strong>
  </a>
</div>
{% endif %}

{% endblock %}
